.page-dashboard{

    .select2-container, .select2-selection--single, .select2-selection {
        border-radius: 5px;
        background-color: #0C182C;
    }

    .select2-dropdown, .select2-dropdown--below,.select2-selection__choice, .select2-search__field,.select2-selection__choice__display{
        color:white;
        background-color: #0C182C !important;
    }


    .header-wrapper{
        margin-bottom: 10px;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        .btn-filter{
            padding: 6px 6px;
            font-size: 10px;
        }
    }
    .canvas-row{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        .card-events{

            background-color: #0C182C;
            border: 1px solid #495057;
            width: 90%;

            max-width: 620px;
            min-width: 370px;
            min-height: 500px;

            border-radius: 10px;
            position: relative;

            #tickets-chart {
                position: absolute;
                top: 50%;
                transform: translate(0px, -50%);
            }

            // .canvas-wrapper {
            //     background-color: red;
            //     // padding-top: 100px;
            //     width: 100%;
            // }

        }
    }
}