.event {

    color: white;


    .left-section {
        background-color: #0C182C;
        border: solid;
        border-width: 1px 1px 1px 1px;
        border-color: white;
        width: 30vw;
    }

    .right-section {
        background-color: #0C182C;
        border: solid;
        border-width: 1px 1px 1px 0px;
        border-color: white;
        width: 70vw;
    }


    .event-image-container {
        border: solid;
        border-width: 1px;
        border-color: white;
        max-height: 600px;
        aspect-ratio: 3/4;
    }

    .event-image-container > img {
        inline-size: 100%;
        block-size: 100%;
        object-fit: cover;
    }


    .map {
        width: 100%;
        min-height: 150px;
        max-height: 300px;
        height:auto;
    }

    @media screen and (min-width: 1550px) {
        .event-image-container {
            height: 600px;
        }

        .left-section {
            width: auto;
            // background-color: black !important;
        }

        .right-section {
            width: 100%;
        }
    }



}