body {
    height: 100vh;
}
.footer {
    background-color: #0C182C;
    // position: fixed;
    width: 100%;
    color: white;
    // height: 100vh;
    // background-color: red;
}

.rights {
    font-size: 12px;
}

.icon {
    color: white;
}


