.form-control{
    margin-bottom: 20px;
    background-color: #0C182C;
    color: white;
}

.form-control:focus
{
    margin-bottom: 20px;
    background-color: #0C182C;
    color: white;
}

.form-label{
    color: white;
    font-weight: 500;

}

.password-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    .form-control{
        width: 90%;
    }
    .password{
        margin-right: 70%;
    }
    .new-password{
        margin-right: 10%;
    }
    .img-check{
        color: green;
        height: 20px;
        width: 20px;
        margin-left: 20%;
        visibility: hidden;
    }
}
