
.home {

    @at-root body {
        background-color: rgb(21, 1, 32);
    }

    color: white;



    .subtitle span:nth-child(1){
        color: rgb(8, 165, 251);
        // color: rgb(8, 165, 251);
    }

    .subtitle span:nth-child(2){
        color: rgb(8, 250, 238);
    }

    .subtitle span:nth-child(3){
        color: rgb(8, 250, 155);
    }


    .event-image {
        height: 25rem;
    }



}
