.home {
    height: 100vh;

    .subtitle span:nth-child(1){
        color: rgb(8, 65, 150);
    }

    .subtitle span:nth-child(2){
        color: rgb(8, 150, 138);
    }

    .subtitle span:nth-child(3){
        color: rgb(8, 150, 55);
    }


    .event-image {
        height: 25rem;
    }

}
