.resp{
    width: 100%;
}
.container{
    margin-top: 3%;
}

.navbar-brand{
    font-size: 30px;
}

.nav-link{
    font-size: 20px;
}

.btn-login{
    background-color:  #1E90FF;
    border: 1px solid  #0c75df;
    color: white;
}


