.resp{
    width: 100%;
}
.container{
    margin-top: 3%;
}

.navbar-brand{
    font-size: 30px;
}

.nav-link{
    font-size: 20px;
}

.btn-actions{
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: 1px solid  white;
    border-bottom: 1px solid  white;
    color: white;
}

.btn-login::hover{

    color:white;
}


