body {
    // background-color: rgb(21, 1, 32);
    background-color: #150120;
}

.title {
    color: white;
    font-weight: 700;
}

.card,
.card-header,
.card-body,
.card-footer {
    border-color: #495057;
    background-color: #0c182c;
}


.table-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.table {

    th:last-child {
        text-align: center;
    }

    .ticket-types {
        text-align: center;
    }

}

.custom-table {

    th,
    td {
        background-color: #0c182c;
    }
}

.table-exhibitors {
    table-layout: fixed;

    th:nth-child(3),
    td:nth-child(3) {
        width: 50%;
    }

    .name-cell,
    .catgegory-cell,
    .description-cell {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.table-events {
    table-layout: fixed;

    th:nth-child(3),
    td:nth-child(3) {
        width: 12%;
    }

    th:nth-child(6),
    td:nth-child(6) {
        width: 5%;
    }

    .name-cell,
    .theme-cell,
    .description-cell {
        width: 30%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}