.select-pagination{
    select{
        margin-right: 4px;
        background-color: #0c182c;
        border-color: #495057;
    }

    select:focus{
        border-color: #495057;
    }


}

.filter:hover{
    background-color: #0c182c;
    opacity: 30%;
    color: #fff;
}

.btn-back{
    border-radius: 30px;
    border: none;
    img{
        width: 30px;
        height: 30px;
    }
}

.btn-back:hover{
    background-color: #0c182c;
    color: #fff;
}

.modal-card{
    .btn-outline-light{
        margin-right: 4px;
        // height: 1%;
    }
}
.modal-content{
    background-color: #0c182c ;
}

.row-title-button {
    display: flex;
    align-items: center;

    .title {
      flex: 1;
      text-align: center;
    }

    a {
      margin-left: auto;
    }
  }


