.select-pagination{
    select{
        margin-right: 4px;
        background-color: #0c182c;
        border-color: #495057;
    }

    select:focus{
        border-color: #495057;
    }


}

.modal-card{
    .btn-outline-light{
        margin-right: 4px;
        // height: 1%;
    }
}
.modal-content{
    background-color: #0c182c ;
}

.row-title-button {
    display: flex;
    align-items: center;

    h2 {
      flex: 1;
      text-align: center;
    }

    a {
      margin-left: auto;
    }
  }


